{% extends 'base.html.twig' %}

{% block title %}{{ product.nom }} - Assos{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.nom }}" class="img-fluid">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.nom }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.prix / 100)|number_format(2, ',', '.') }} €</span> <!--easyadmin fait x100 a chaque fois car il considere comme float le prix -->
            <hr>
            <p>
                {{ product.description }}
            </p>
            <a href="" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
    <hr>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->

{% endblock %}
